# Oracle DB (MODBD - Local)
# For sv1: localhost:1521/orclpdb1
# For sv2: localhost:1521/orclpdb1
# For sv3: localhost:1521/orclpdb1
# For sv4: localhost:1522/orclpdb1
ORACLE_USER=TickLy
ORACLE_PASSWORD=itdev123
ORACLE_CONNECT_STRING=localhost:1521/orclpdb1
