.env
oradata/
# scripts/

# TeX compilation files
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.pdf
docs/*.fls
docs/*.fdb_latexmk
docs/*.synctex.gz
docs/*.synctex(busy).gz
docs/*.synctex.gz(busy)
docs/*.synctex(busy).gz(busy)